### Scraping AmazonIndia customer feed back tweets from Twitter

In [51]:
# Importing sntwitter for scraping the data
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
amazon_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('amazonsupport since:2019-01-01 until:2021-12-25').get_items()):
    if i>5000:
        break
    amazon_list.append([tweet.date, tweet.id, tweet.user.username, tweet.content])
    
# Creating a dataframe from the tweets list above
amazon_df = pd.DataFrame(amazon_list, columns=['Datetime', 'Tweet Id', 'Name', 'tweet'])

In [52]:
#shape of the dataframe
amazon_df.shape

(559, 4)

In [53]:
# Removing Duplicate values
amazon_df.drop_duplicates(inplace=True)

In [54]:
#
amazon_df.shape

(559, 4)

In [5]:
amazon_df['Company_Name'] = 'AmazonIndia'

In [6]:
amazon_df.head()

,Datetime,Tweet Id,Name,tweet,Company_Name
0,2021-12-19 09:25:50+00:00,1472498398989332482,KariBethReilly,:. @amazonsupport wow. https://t.co/KSwzvYkyg6,AmazonIndia
1,2021-12-15 10:56:04+00:00,1471071555178299392,nkjindal111,@AmazonHelp #Amazon #AmazonSupport executive a...,AmazonIndia
2,2021-12-15 10:53:23+00:00,1471070879601680386,nkjindal111,@AmazonHelp As expected ...still waiting for t...,AmazonIndia
3,2021-12-13 07:01:36+00:00,1470287774011904002,GVikramjeet,#amazonsupport hello sir I order for one thing...,AmazonIndia
4,2021-12-08 07:28:24+00:00,1468482577241575424,nkjindal111,Shame on #ASUS #Amazon #AmazonSupport\nI have ...,AmazonIndia

### Scraping Flipkart customer feed back tweets from Twitter

In [7]:
# Creating list to append tweet datda of flipkart
flipkart_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('flipkartsupport since:2019-01-01 until:2021-12-25').get_items()):
    if i>5000:
        break
    flipkart_list.append([tweet.date, tweet.id, tweet.user.username, tweet.content])
    
# Creating a dataframe from the tweets list above
flipkart_df = pd.DataFrame(flipkart_list, columns=['Datetime', 'Tweet Id', 'Name', 'tweet'])

In [8]:
# shape of the dataframe
flipkart_df.shape

(5001, 4)

In [9]:
# Removing Duplicate values
flipkart_df.drop_duplicates(inplace=True)

In [10]:
#shape of the dataframe after removing the duplicates
flipkart_df.shape

(5001, 4)

In [11]:
flipkart_df['Company_Name'] = 'Flipkart'

In [12]:
flipkart_df.head()

,Datetime,Tweet Id,Name,tweet,Company_Name
0,2021-12-24 23:58:36+00:00,1474529974795206657,riteshv95826057,@flipkartsupport I need my money back @Flipkar...,Flipkart
1,2021-12-24 23:57:32+00:00,1474529708041662467,riteshv95826057,@flipkartsupport What is the need of privacy i...,Flipkart
2,2021-12-24 23:55:50+00:00,1474529280860123137,flipkartsupport,@RITESHR69573225 Sorry to hear that. We're her...,Flipkart
3,2021-12-24 23:52:07+00:00,1474528346591543296,RITESHR69573225,@flipkartsupport not able to return the product.,Flipkart
4,2021-12-24 23:27:44+00:00,1474522207669866503,flipkartsupport,"@riteshv95826057 In future, please ensure that...",Flipkart

### Scraping snapdeal customer feed back tweets from Twitter

In [13]:
# Creating list to append tweet datda of snapdeal
snapdeal_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('snapdeal help since:2019-01-01 until:2021-12-25').get_items()):
    if i>5000:
        break
    snapdeal_list.append([tweet.date, tweet.id, tweet.user.username, tweet.content])
    
# Creating a dataframe from the tweets list above
snapdeal_df = pd.DataFrame(snapdeal_list, columns=['Datetime', 'Tweet Id', 'Name', 'tweet'])

In [14]:
snapdeal_df.shape

(5001, 4)

In [15]:
snapdeal_df.drop_duplicates(inplace=True)

In [16]:
snapdeal_df.shape

(5001, 4)

In [17]:
snapdeal_df['Company_Name'] = 'SnapDeal'

In [18]:
snapdeal_df.head()

,Datetime,Tweet Id,Name,tweet,Company_Name
0,2021-12-24 23:28:24+00:00,1474522378298277888,gourabsmile12,@Snapdeal_Help Ok i will wait for your response,SnapDeal
1,2021-12-24 15:58:58+00:00,1474409271085256704,gourabsmile12,@Snapdeal_Help #ScamAlert #chetter i was orde...,SnapDeal
2,2021-12-24 15:55:06+00:00,1474408301232148483,Gourav39628289,@Snapdeal_Help No response team what you want ...,SnapDeal
3,2021-12-24 15:54:39+00:00,1474408187826638851,Gourav39628289,@Snapdeal_Help What is this service fergi company,SnapDeal
4,2021-12-24 15:31:46+00:00,1474402429172998145,firoz99561,@Snapdeal_Help \nमें स्नैपडील की रिटर्न प्रोसे...,SnapDeal

### Scraping mynthra customer feed back tweets from Twitter

In [19]:
# Creating list to append tweet datda of mynthra
mynthra_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('myntra support since:2019-01-01 until:2021-12-25').get_items()):
    if i>5000:
        break
    mynthra_list.append([tweet.date, tweet.id, tweet.user.username, tweet.content])
    
# Creating a dataframe from the tweets list above
mynthra_df = pd.DataFrame(mynthra_list, columns=['Datetime', 'Tweet Id', 'Name', 'tweet'])

In [20]:
mynthra_df.shape

(5001, 4)

In [21]:
mynthra_df.drop_duplicates(inplace=True)

In [22]:
mynthra_df.shape

(5001, 4)

In [23]:
mynthra_df['Company_Name'] = 'Mynthra'

In [24]:
mynthra_df.head()

,Datetime,Tweet Id,Name,tweet,Company_Name
0,2021-12-24 19:44:45+00:00,1474466094752567298,sachmekaloge,@myntra @MyntraSupport why do you cheat custom...,Mynthra
1,2021-12-24 19:41:41+00:00,1474465323189301249,souvikindia,"I successful pickup sms after two hours, as my...",Mynthra
2,2021-12-24 19:32:23+00:00,1474462982834851846,DakshBajaj3,@MyntraSupport Done! I hope it wasn't a gimmic...,Mynthra
3,2021-12-24 19:30:10+00:00,1474462424006684672,KanikaRawwt,@MyntraSupport This is very disappointed if ar...,Mynthra
4,2021-12-24 19:29:31+00:00,1474462257446744067,KanikaRawwt,This is very disappointed if are doing like th...,Mynthra

### Scraping bigbazaar customer feed back tweets from Twitter

In [25]:
# Creating list to append tweet datda of bigbazaar
bigbazaar_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper('bigbazaar help since:2019-01-01 until:2021-12-25').get_items()):
    if i > 5000:
        break
    bigbazaar_list.append([tweet.date, tweet.id, tweet.user.username, tweet.content])

# Creating a DataFrame from the tweets list above
bigbazaar_df = pd.DataFrame(bigbazaar_list, columns=['Datetime', 'Tweet Id', 'Name', 'tweet'])

In [26]:
bigbazaar_df.shape

(3064, 4)

In [27]:
bigbazaar_df.drop_duplicates(inplace=True)

In [28]:
bigbazaar_df.shape

(3064, 4)

In [29]:
bigbazaar_df['Company_Name'] = 'BigBazaar'

In [30]:
bigbazaar_df.head()

,Datetime,Tweet Id,Name,tweet,Company_Name
0,2021-12-24 10:42:32+00:00,1474329639203991552,sidbabba,@BigBazaar @BigBazaarHelps had got a voucher f...,BigBazaar
1,2021-12-21 05:19:30+00:00,1473161180675932163,ravicmu,Following with @BigBazaar @BigBazaarHelps @Big...,BigBazaar
2,2021-12-18 09:39:28+00:00,1472139441124745217,MathurSrajat,@BigBazaar Still haven't received any response...,BigBazaar
3,2021-12-17 04:11:00+00:00,1471694392318521348,BigBazaar,"@dealsandloots Hi, \n \nWe tried connecting ...",BigBazaar
4,2021-12-16 12:48:50+00:00,1471462323361509382,proaudience,@BigBazaar The matter has been resolved in a t...,BigBazaar

### Scraping lenskart customer feed back tweets from Twitter

In [31]:
# Creating list to apend tweet datda of lenskart
lenskart_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper('lenskart support since:2019-01-01 until:2021-12-25').get_items()):
    if i > 5000:
        break
    lenskart_list.append([tweet.date, tweet.id, tweet.user.username, tweet.content])
    
# Creating a DataFrame from the tweets list above
lenskart_df = pd.DataFrame(lenskart_list, columns=['Datetime', 'Tweet Id', 'Name', 'tweet'])

In [32]:
lenskart_df.shape

(2068, 4)

In [33]:
lenskart_df.drop_duplicates(inplace=True)

In [34]:
lenskart_df.shape

(2068, 4)

In [35]:
lenskart_df['Company_Name'] = 'Lenskart'

In [36]:
lenskart_df.head()

,Datetime,Tweet Id,Name,tweet,Company_Name
0,2021-12-24 12:58:25+00:00,1474363835335204868,Lenskart_com,@MemeSingh_ (1/2) Hi There! We always strive t...,Lenskart
1,2021-12-23 13:57:57+00:00,1474016429955420164,shubham_9415,"@Lenskart_com The issue has been resolved, I r...",Lenskart
2,2021-12-23 13:48:49+00:00,1474014131162423301,Lenskart_com,@SirSuri This is not the experience we want yo...,Lenskart
3,2021-12-23 11:04:11+00:00,1473972701782069248,Lenskart_com,@Madhav4587 This is not the experience we wan...,Lenskart
4,2021-12-22 13:28:35+00:00,1473646652342910981,Lenskart_com,@vsr_7 This is not the experience we want you ...,Lenskart

### Scraping Ajio customer feed back tweets from Twitter

In [37]:
# Creating list to apend tweet datda of Ajio
Ajio_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper('Ajio support since:2019-01-01 until:2021-12-25').get_items()):
    if i > 5000:
        break
    Ajio_list.append([tweet.date, tweet.id, tweet.user.username, tweet.content])
    
# Creating a DataFrame from the tweets list above
Ajio_df = pd.DataFrame(Ajio_list, columns=['Datetime', 'Tweet Id', 'Name', 'tweet'])

In [38]:
Ajio_df.shape

(986, 4)

In [39]:
Ajio_df.drop_duplicates(inplace=True)

In [40]:
Ajio_df.shape

(986, 4)

In [41]:
Ajio_df['Company_Name'] = 'Ajio'

In [42]:
Ajio_df.head()

,Datetime,Tweet Id,Name,tweet,Company_Name
0,2021-12-24 12:03:12+00:00,1474349940281200643,JioMart_Support,"@harshjaroli Hi Harsh, We completely understan...",Ajio
1,2021-12-24 10:11:02+00:00,1474321712980258817,Deepaksahoo95,@AJIOLife My Ajio account has been blocked sin...,Ajio
2,2021-12-24 04:45:09+00:00,1474239701494104067,shankarhandles,@AJIOLife can some one help me with the return...,Ajio
3,2021-12-23 04:06:49+00:00,1473867666074923008,GuptaMoniya,"@AJIOLife Hi Team, I ordered a product and the...",Ajio
4,2021-12-21 12:27:58+00:00,1473269009663463429,harshjaroli,@JioMart_Support i not have any issue with #ji...,Ajio

### Scraping zomato customer feed back tweets from Twitter

In [43]:
# Creating list to apend tweet datda of Zomato
Zomato_list = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper('Zomato support since:2019-01-01 until:2021-12-25').get_items()):
    if i > 5000:
        break
    Zomato_list.append([tweet.date, tweet.id, tweet.user.username, tweet.content])
    
# Creating a DataFrame from the tweets list above
Zomato_df = pd.DataFrame(Zomato_list, columns=['Datetime', 'Tweet Id', 'Name', 'tweet'])

In [44]:
Zomato_df.shape

(5001, 4)

In [45]:
Zomato_df.drop_duplicates(inplace=True)

In [46]:
Zomato_df.shape

(5001, 4)

In [47]:
Zomato_df['Company_Name'] = 'Zomato'

In [48]:
Zomato_df.head()

,Datetime,Tweet Id,Name,tweet,Company_Name
0,2021-12-24 23:03:50+00:00,1474516194665271299,Siddharthakur,Really appalled by the services of @zomato and...,Zomato
1,2021-12-24 22:36:56+00:00,1474509422701416450,deshbachao8,Zomato i need job work from home i have comple...,Zomato
2,2021-12-24 22:13:18+00:00,1474503477380337664,Simran91773278,@zomato @zomatocare Mr.Rohit frm d customer su...,Zomato
3,2021-12-24 19:06:06+00:00,1474456366177685508,nitesh21sharma,@RBLBankCares @ZomatoProHelp It's been a week ...,Zomato
4,2021-12-24 18:46:23+00:00,1474451405935022080,ShahShi58,This kind of support we get from zomato after ...,Zomato

In [49]:
### Concadenating all the DataFrames
df = pd.concat([amazon_df, flipkart_df, snapdeal_df, mynthra_df, bigbazaar_df, lenskart_df, Ajio_df, Zomato_df], ignore_index=True)

In [50]:
### Converting Data into CSV File
df.to_csv('Twitter.csv', index=False)